.products_title
    font-weight: 700
    font-style: italic
    font-size: 1.3rem
    margin-bottom: 0

.btn_show_all
    background: black
    color: white
    font-weight: 300
    border-radius: 5px
    border: none
    outline: none
    padding: 0.4rem
    transition: all 0.5s

.btn_show_all:hover
    color: white
    opacity: 0.8