.navbar
    background: #fff

.search_input
    padding: 0.5rem
    background-color: #f7f7f7
    outline: none
    border: 0.1px solid #eee
    border-radius: 5px
    font-weight: 600
    width: 100%
    padding-right: 20%

.search_input_icon
    width: 30px
    position: absolute
    top: 15%
    left: 85%
    cursor: pointer

.navlink
    font-weight: 600
    color: #000 !important

.navlink-active
    color: #009b4f !important